@import "./resets";
@import "./variables";
@import "./typography";

@import "./components/Chart";
@import "./components/Dashboard";
@import "./components/Menu";
@import "./components/Search";
@import "./components/SearchForm";
@import "./components/SearchResults";
@import "./components/SearchToggle";

* {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	z-index: 1;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	background: $black;
	color: $white;
	font-family: $font-family--primary;
}

.container {
	display: block;
	width: 100%;
	max-width: 1440px;
	padding: 6rem 2rem;
}

a {
	color: $link-color;
	transition: color 50ms ease;

	&:visited {
		color: $link-color;
	}

	&:hover,
	&:focus {
		color: $link-color-hover;
	}
}

button {
	cursor: pointer;
}

.button {
	background: $button-background;
	color: $button-color;
	border: $button-border;
	padding: 1rem;
	font-size: 1rem;
	display: inline-block;
	margin: 1rem 0;
	transition: background 50ms ease, color 50ms ease, border 50ms ease;

	&:hover,
	&:focus {
		background: $button-background-hover;
		color: $button-color-hover;
		border: $button-border-hover;
		outline: none;
	}

	&:disabled {
		background: $button-background-disabled;
		color: $button-color-disabled;
		border: $button-border-disabled;
	}

	&.sm {
		font-size: 0.75rem;
		padding: 0.75rem;
	}

	&.md {
		font-size: 1rem;
		padding: 1rem;
	}

	&.lg {
		font-size: 1.25rem;
		padding: 1.25rem;
	}
}

input[type="text"] {
	background: $input-background;
	border: $input-border;
	color: $input-color;
	padding: 1rem;
	font-size: 1rem;
	margin: 1rem 0;
	transition: color 50ms ease, border 50ms ease, background 50ms ease;

	&:focus {
		background: $input-background-focus;
		border: $input-border-focus;
		color: $input-color-focus;

		// (TODO)
		outline: none;
	}

	&:disabled {
		border: $input-border-disabled;
		color: $input-color-disabled;
		cursor: not-allowed;
	}

	&.sm {
		font-size: 0.75rem;
		padding: 0.75rem;
	}

	&.md {
		font-size: 1rem;
		padding: 1rem;
	}

	&.lg {
		font-size: 1.25rem;
		padding: 1.25rem;
	}
}

.Toolbar {
	height: 30px;
	transition: height 500ms ease;
	&[data-open="true"] {
		height: 300px;
	}

	button {
		border: 1px solid $white;
		margin: 0 0.5rem;
		padding: 0.25rem 0.5rem;
	}

	input[type="range"] {
		background-color: white;
	}
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4caf50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4caf50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.App {
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
}

.Welcome {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	overflow-x: hidden;
	z-index: 10;
	top: 0;
	left: 0;

	background: $light-black;

	transition: opacity 500ms ease;

	&[data-show="true"] {
		opacity: 1;
		pointer-events: all;
	}

	&[data-show="false"] {
		opacity: 0;
		pointer-events: none;
	}
}

h1 {
	font-size: 64px;
}

p {
	font-size: 24px;
}

.Suggestions {
	position: absolute;
	background: $light-black;
	border: $white;
	z-index: 20;

	width: calc(100% - 4rem);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 0.5rem;
		border: 1px solid $white-50;
		cursor: pointer;

		&:hover {
			border: 1px solid $white-75;
			background: $black;
		}
	}
}

.input-group {
	position: relative;
}

.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 250ms ease-in;
}
