.Chart {
	&--main {
		height: 75vh;
		> div:first-child {
			height: 100%;
		}
	}

	&--bottom-toolbar {

		display: flex;
		justify-content: space-between;

		.button {
			font-size: 0.75rem;
			padding: 0.5rem;
		}
	}
}
