.Chart {
	&--main {
		height: 75vh;
		> div:first-child {
			height: 100%;
		}
	}

	&--bottom-toolbar {
		.button-group {
			margin-left: 1rem;
		}

		.button {
			font-size: 0.75rem;
			padding: 0.5rem;
		}
	}
}
