.SearchForm {
	opacity: 1;
	transition: opacity 500ms ease;
	overflow-x: hidden;

	label {
		@include text-style--label;

		display: block;
		padding-bottom: 0.75rem;
	}

	.input-group {
		display: flex;
	}

	input[type="text"] {
		flex: 1;
		height: 100px;
		width: 100%;
		margin: 0;
		z-index: 2;
		font-size: 1.5rem;
	}

	button {
		margin: 0;
		padding: 2rem;
	}
}
