.Toolbar {
	button {
		border: 1px solid $white;
		margin: 0.5rem 0.25rem;
		&:first-child {
			margin-left: 0;
		}
		padding: 0.25rem 0.5rem;
	}

	&--main {
		z-index: 40;

		*:first-child {
			margin-top: 0;
		}
	}

	&--toggle {
		display: inline-block;
		cursor: pointer;

		border: 1px solid $white-25;
		padding: 0.5rem;

		&:hover {
			border-color: $white-50;
		}
	}

	&--toggle-icon svg {
		padding-top: 0.25rem;
		margin-left: 0.25rem;
	}

	&--dropdown {
		margin: 1rem 0;
	}
}
