.TopMenu {
	background: $black;
	height: 0;
	overflow-y: hidden;
	opacity: 0;
	border-bottom: 1px solid $white;

	transition: height 500ms ease, opacity 500ms ease;
	&[data-show="true"] {
		opacity: 1;
		height: 100px;
	}
}
