.Welcome {
	width: 100%;
	// max-width: 1200px;
	position: fixed;
	height: calc(100vh - 4rem);
	overflow-x: hidden;
	z-index: 30;
	top: 0;
	left: 0;
	background: $black;

	display: flex;
	justify-content: center;
	align-items: center;

	.large-heading {
		margin-bottom: 0.5em;
	}
	
	p {
		margin: 1.5rem 0;
	}

	.container h2:first-child {
		margin-top: 0;
	}

	.Search {
		margin-top: 3rem;
	}

	transition: opacity 500ms ease;

	&[data-show="true"] {
		opacity: 1;
		pointer-events: all;
	}

	&[data-show="false"] {
		opacity: 0;
		pointer-events: none;
	}

	.ArtistSuggestions {
		position: absolute;
	}
}
