@import './resets';
@import './variables';
@import './typography';

@import './components/Chart';
@import './components/Dashboard';
@import './components/Menu';
@import './components/Search';
@import './components/SearchForm';
@import './components/SearchResults';
@import './components/SearchToggle';

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: $black;
  color: $white;
  font-family: $font-family--primary;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 2rem;
}

a {
  color: $link-color;
  transition: color 50ms ease;

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}

button {
  cursor: pointer;
}

.button {
  background: $button-background;
  color: $button-color;
  border: $button-border;
  padding: 1rem;
  font-size: 1rem;
  display: inline-block;
  margin: 1rem 0;
  transition: background 50ms ease, color 50ms ease, border 50ms ease;

  // &:hover,
  &:focus {
    background: $button-background-hover;
    color: $button-color-hover;
    border: $button-border-hover;
    outline: none;
  }

  &:disabled {
    background: $button-background-disabled;
    color: $button-color-disabled;
    border: $button-border-disabled;
  }

  &.sm {
    font-size: 0.75rem;
    padding: 0.75rem;
  }

  &.md {
    font-size: 1rem;
    padding: 1rem;
  }

  &.lg {
    font-size: 1.25rem;
    padding: 1.25rem;
  }
}

input[type='text'] {
  background: $input-background;
  border: $input-border;
  color: $input-color;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem 0;
  transition: color 50ms ease, border 50ms ease, background 50ms ease;

  &:focus {
    background: $input-background-focus;
    border: $input-border-focus;
    color: $input-color-focus;

    // (TODO)
    outline: none;
  }

  &:disabled {

    border: $input-border-disabled;
    color: $input-color-disabled;
    cursor: not-allowed;
  }

  &.sm {
    font-size: 0.75rem;
    padding: 0.75rem;
  }

  &.md {
    font-size: 1rem;
    padding: 1rem;
  }

  &.lg {
    font-size: 1.25rem;
    padding: 1.25rem;
  }
}